{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "ignore": [
    "**/*.test.js"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}